@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
	// margin-bottom: 20px;
}

.center-cropped {
	background-color: #eee;
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 110px;
	height: 110px;
}

.center-cropped img {
	position: absolute;
	width: 130%;
	max-width: 130%;
	top: 0;
	bottom: 0;
	left: -15%;
	right: 0;
	margin: auto;
}

.navbar-light {
	background: #b80000;
	color: #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand a,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
// .navbar-light a,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #fff;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.3);
}

.book-item {
	position: relative;
	min-height: 110px;
	border-bottom: 1px dashed #ddd;
}

.book-item-details .title {
	max-height: 36px;
	overflow: hidden;
	margin-bottom: 5px;
	color: #333;
}

.book-item-details .province,
.book-item-details .category {
	line-height: 18px;
	color: #999;
}

.carousel .thumbs-wrapper {
	margin-bottom: 0 !important;
}

.created-time-ago {
	font-style: italic;
	color: #999;
	line-height: 24px;
}

hr {
	border-top: 1px dashed #ddd;
}

table.book-details {
	font-size: 14px;
}

/* Absolute Center Spinner */
.preloading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.preloading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #007bff;
}

/* :not(:required) hides these rules from IE9 and below */
.preloading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.preloading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: #fff 1.5em 0 0 0, #fff 1.1em 1.1em 0 0, #fff 0 1.5em 0 0, #fff -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
		rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #fff 0 -1.5em 0 0, #fff 1.1em -1.1em 0 0;
	box-shadow: #fff 1.5em 0 0 0, #fff 1.1em 1.1em 0 0, #fff 0 1.5em 0 0, #fff -1.1em 1.1em 0 0, #fff -1.5em 0 0 0, #fff -1.1em -1.1em 0 0,
		#fff 0 -1.5em 0 0, #fff 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.kanit {
	font-family: 'Kanit', sans-serif;
}

.search-btn,
.dropdown-category {
	line-height: 38px;
}

.search-result {
	font-style: italic;
	color: #999;
}

.btn-warning {
	color: #fff !important;
}

.image-desc {
	position: relative;
}

.image-desc .desc {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
}

.image-desc .desc.top {
	top: 0;
	left: 0;
	width: inherit;
	bottom: inherit;
}

.image-desc:focus {
	opacity: 0.7;
}

.search-bar {
	background: rgba(235, 235, 235, 0.6);
}

.hr {
	border-bottom: 1px dashed #ddd;
}

.p {
	text-indent: 15px;
	word-wrap: none;
}
